body {
    margin: 0 auto;
    width: 100vw;
    background-color: white;
}  
.top_menu{
    display: flex;
    width: 95.7vw;
    height: 3.7vw;
    font-family: JournalSans;
    font-size: 1.4vw;
    color: #696969;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2vw;
    position: fixed;
}
.top_menu a{
    text-decoration: none;
    color: #696969;
}
.bottom_menu{
    display: flex;
    width: 95.7vw;
    height: 3.7vw;
    font-family: JournalSans;
    font-size: 1.4vw;
    color: #696969;
    align-content: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 2vw;
    position: fixed;
    align-content: flex-end;
    bottom: 1vw;
}
.list{
    display: flex;
    width: 30vw;
    font-family: JournalSans;
    font-size: 1.46vw;
    color: #696969;
    flex-direction: column;
    margin-left: 2vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pain{
    margin-top: 6vw;
}
.elegy{
    margin-top: 0.3vw;
}
.hate{
    margin-top: 0.3vw;
}
.hug{
    margin-top: 0.3vw;
}
.slot_machine{
    margin-top: 0.3vw;
}
.love{
    margin-top: 0.3vw;
}
.white_verse{
    margin-top: 0.3vw;
}
.treason{
    margin-top: 0.3vw;
}
.dance_floor{
    margin-top: 0.3vw;
}
.maps{
    margin-top: 0.3vw;
}
.habitation{
    margin-top: 0.3vw;
}
.poets{
    margin-top: 0.3vw;
}
.separation{
    margin-top: 0.3vw;
}
.magic{
    margin-top: 0.3vw;
}
.craps{
    margin-top: 0.3vw;
}
.reflection{
    margin-top: 0.3vw;
}
.jealousy{
    margin-top: 0.3vw;
}
.ode{
    margin-top: 0.3vw;
}
.poker{
    margin-top: 0.3vw;
}
.betrayal{
    margin-top: 0.3vw;
}